doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/changepassword.css')
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Barlow&display=swap', rel='stylesheet')
    title Change Password
  body
    center
      h1 NoteMaker
    #form
      center
        p Change Password
        form(action='/changepassword', method='POST')
          input(type='text', name='email', placeholder='Email')
          br
          input(type='password', name='oldpassword', placeholder='Old password')
          br
          input(type='password', name='newpassword', placeholder='New password')
          br
          input(type='submit', value='Change Password')
