doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Barlow&display=swap', rel='stylesheet')
  body
    center
      h1 Welcome to NoteMaker!
      center
        #loginform
          form(action='/login', method='post')
            center
              p Log in
              input(type='text', name='email', placeholder='Email')
              br
              input(type='password', name='password', placeholder='Password')
              br
              p
                a(href='/auth/changepassword') Change Password
              input(type='submit', value='Login')
          p Or login through
          div
            a(href='/auth/google') Google
          p
          p
            | First time? Click 
            a(href='/auth/signup') here
            |  to sign in.
