doctype html
html
  head
    title
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script&display=swap', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/note.css')
  body
    center
      h1 Write Something!
    center
      div
        input#title(type='text', name='title', placeholder='Title...')
        br
        textarea
        br
        input(type='submit', name='Save', action='/notes', method='POST')
