doctype html
html
  head
    title
  body
    input(type='text', name='title', placeholder='Title...')
    input(type='text', name='body', placeholder='Body')
    input(type='submit', name='Save', action='/notes', method='POST')
