body{
	background-color: #95c7bd;
}
.grid{
	margin: 100px 250px;
	display:grid;
	grid-template-columns: 300px 300px 300px;
	grid-row-gap: 20px;
	grid-column-gap: 50px;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
}
p{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}
.newnote{
	background-color: #e6faf6;
	height: 300px;

	border-radius:20px;
}
button{
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	color: black;
	background-color: #e6faf6;
	height:80px;
	width: 300px;
	margin-top: 20px;
}
#logout{
	background-color: #e6faf6;
	width: 80px;
	margin-top: 10px;
	padding-left: 5px;
	border-color: black;
}
a{
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
textarea{
	background-color:  #e6faf6;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	border-radius:20px;
}
.delete{
	height:30px;
	width:100px;
}
.edit{
	height:30px;
	width:100px;
}